@import url('https://fonts.googleapis.com/css2?family=Ancizar+Sans:ital,wght@0,100..1000;1,100..1000&family=BBH+Bogle&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Science+Gothic:wght@100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Montserrat", sans-serif;

}

.container {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

}

.row {
  width: 1600px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.navbar {
  width: 1200px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 0 20px;
}

.navlogo{
  font-size: 18px;
  font-weight: 600;
  color: orange;
}
.nav_type {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.nav_type ul {
  display: flex;
  gap: 30px;
}

.nav_type li{
  transition: 0.2s;

}
.nav_type ul li a {
  color: black;
  font-weight: 500;
  transition: 0.2s;
}
.nav_type li:hover{
  transform: translateY(-5px);
  
  
}
.nav_type a:hover{
  color: orange;
}

.nav_sign button {
  padding: 8px 18px;
  cursor: pointer;
}

.nav_sign button{
  border: none;
  background-color: orange;
  color: white;
  font-weight: 600;
  cursor: pointer;
  border-radius: 12px;
  padding: 12px 20px;
  transition: 0.2s;

}
.nav_sign button:hover{
  transform: scale(1.02);
}
